@model apka2.Models.ClinicalDiagnosis

@{
    ViewData["Title"] = "Delete";
}
<body class="text-center">
    <h3>Czy na pewno chcesz usunąć to rozpoznanie?</h3>
    <div>
        <h4>Rozpoznanie kliniczne</h4>
        <hr />
        <dl class="row" style="margin-left:20%;">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Remarks)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Remarks)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Usuń" class="btn btn-danger" />
            <a asp-action="Index"class="btn btn-primary">Powrót do listy rozpoznań</a>
        </form>
    </div>
</body>