@model apka2.Models.Procedure

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Procedure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SurveyId" class="control-label"></label>
                <input asp-for="SurveyId" class="form-control" />
                <span asp-validation-for="SurveyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcedureDate" class="control-label"></label>
                <input asp-for="ProcedureDate" class="form-control" />
                <span asp-validation-for="ProcedureDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ECMO" /> @Html.DisplayNameFor(model => model.ECMO)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Filter" class="control-label"></label>
                <input asp-for="Filter" class="form-control" />
                <span asp-validation-for="Filter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcedureTime" class="control-label"></label>
                <input asp-for="ProcedureTime" class="form-control" />
                <span asp-validation-for="ProcedureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtracorporealClearingMethod" class="control-label"></label>
                <input asp-for="ExtracorporealClearingMethod" class="form-control" />
                <span asp-validation-for="ExtracorporealClearingMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CitrateConcentrate" class="control-label"></label>
                <input asp-for="CitrateConcentrate" class="form-control" />
                <span asp-validation-for="CitrateConcentrate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UnplanedTermination" /> @Html.DisplayNameFor(model => model.UnplanedTermination)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TerminationReason" class="control-label"></label>
                <input asp-for="TerminationReason" class="form-control" />
                <span asp-validation-for="TerminationReason" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BloodReturn" /> @Html.DisplayNameFor(model => model.BloodReturn)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PatientDeath" /> @Html.DisplayNameFor(model => model.PatientDeath)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeathDate" class="control-label"></label>
                <input asp-for="DeathDate" class="form-control" />
                <span asp-validation-for="DeathDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
