@model apka2.Models.Procedure

@{
    ViewData["Title"] = "EndProcedure";
}

<h4>Zakończ zabieg</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UnplanedTermination" /> @Html.DisplayNameFor(model => model.UnplanedTermination)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TerminationReason" class="control-label"></label>
                <input asp-for="TerminationReason" class="form-control" />
                <span asp-validation-for="TerminationReason" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BloodReturn" /> @Html.DisplayNameFor(model => model.BloodReturn)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PatientDeath" /> @Html.DisplayNameFor(model => model.PatientDeath)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeathDate" class="control-label"></label>
                <input asp-for="DeathDate" class="form-control" />
                <span asp-validation-for="DeathDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zakończ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
