@model apka2.Models.Procedure

@{
    ViewData["Title"] = "EndProcedure";
}

<h4>Zakończ zabieg</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="End">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Anticoagulation" />
            <input type="hidden" asp-for="SurveyId" />
            <input type="hidden" asp-for="ProcedureDate" />
            <input type="hidden" asp-for="ECMO" />
            <input type="hidden" asp-for="Filter" />
            <input type="hidden" asp-for="ProcedureTime" />
            <input type="hidden" asp-for="ExtracorporealClearingMethod" />
            <input type="hidden" asp-for="CitrateConcentrate" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UnplanedTermination" /> @Html.DisplayNameFor(model => model.UnplanedTermination)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TerminationReason" class="control-label"></label>
                <input asp-for="TerminationReason" class="form-control" />
                <span asp-validation-for="TerminationReason" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BloodReturn" /> @Html.DisplayNameFor(model => model.BloodReturn)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PatientDeath" /> @Html.DisplayNameFor(model => model.PatientDeath)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeathDate" class="control-label"></label>
                <input asp-for="DeathDate" class="form-control" />
                <span asp-validation-for="DeathDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zakończ" class="btn btn-primary" />
            </div>
            <input type="hidden" asp-for="Remarks" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Wróć</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
