@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy na stronie projektu "Ogólnopolski Rejest Ciągłych Metod Nerkozastępczych u Dzieci"</h1>
    <p>
        <a asp-controller="Doctors" asp-action="LogIn" methods="get">Zaloguj się</a>
    </p>
</div>
