@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2>Witamy na stronie projektu "Ogólnopolski Rejest Ciągłych Metod Nerkozastępczych u Dzieci"</h2>
    <p>
        <a asp-controller="Doctors" asp-action="LogIn" methods="get">Zaloguj się</a>
    </p>
    <p>
        <a asp-controller="Doctors" asp-action="CreateAccount" methods="get">Załóż konto</a>
    </p>
</div>
