@{
    ViewData["Title"] = "Odmowa dostępu";
}
<h1>@ViewData["Title"]</h1>

<p>Sesja wygasła lub nie masz dostępu do tych danych.</p>
<p>
    <a asp-controller="Doctors" asp-action="LogIn" methods="get">Zaloguj się</a>
</p>
