@{
    ViewData["Title"] = "Confirmation of registration";
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}

<div class="text-center" style="border: 1px">
    <h3>Prośba o aktywację konta została wysłana</h3>
    <h3>Zaczekaj aż administrator aktywuje Twoje konto</h3>
    <p>
        <a asp-controller="Home" asp-action="Index" methods="get">Ok</a>
    </p>
</div>