@model apka2.Models.ProcedureSession

@{
    ViewData["Title"] = "Create";
}

<h4>Dodaj ustawienia początkowe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProcedureId" class="control-label"></label>
                <input asp-for="ProcedureId" class="form-control" />
                <span asp-validation-for="ProcedureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionType" class="control-label"></label>
                <input asp-for="SessionType" class="form-control" />
                <span asp-validation-for="SessionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FraxiparinDose" class="control-label"></label>
                <input asp-for="FraxiparinDose" class="form-control" />
                <span asp-validation-for="FraxiparinDose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FraxiparinDosingTiming" class="control-label"></label>
                <input asp-for="FraxiparinDosingTiming" class="form-control" />
                <span asp-validation-for="FraxiparinDosingTiming" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QBDose" class="control-label"></label>
                <input asp-for="QBDose" class="form-control" />
                <span asp-validation-for="QBDose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QDDose" class="control-label"></label>
                <input asp-for="QDDose" class="form-control" />
                <span asp-validation-for="QDDose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Predilution" class="control-label"></label>
                <input asp-for="Predilution" class="form-control" />
                <span asp-validation-for="Predilution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postdilution" class="control-label"></label>
                <input asp-for="Postdilution" class="form-control" />
                <span asp-validation-for="Postdilution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UFDose" class="control-label"></label>
                <input asp-for="UFDose" class="form-control" />
                <span asp-validation-for="UFDose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
