@model apka2.Models.ProcedureSession

@{
    ViewData["Title"] = "Edit";
}

<h4>Edytuj dane sesji zabiegu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ProcedureId" />
            <input type="hidden" asp-for="SessionType" />
            @switch (Model.SessionType)
            {
                case "Cytrynian":
                    @if (Model.initial)
                    {
                        <div class="form-group">
                            <label asp-for="CitratesConcentration" class="control-label"></label>
                            <input asp-for="CitratesConcentration" class="form-control" />
                            <span asp-validation-for="CitratesConcentration" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CalciumCompensationPercent" class="control-label"></label>
                            <input asp-for="CalciumCompensationPercent" class="form-control" />
                            <span asp-validation-for="CalciumCompensationPercent" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="IonizedCalcium" class="control-label"></label>
                            <input asp-for="IonizedCalcium" class="form-control" />
                            <span asp-validation-for="IonizedCalcium" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TotalCalcium" class="control-label"></label>
                            <input asp-for="TotalCalcium" class="form-control" />
                            <span asp-validation-for="TotalCalcium" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HCO3" class="control-label"></label>
                            <input asp-for="HCO3" class="form-control" />
                            <span asp-validation-for="HCO3" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Citrate" class="control-label"></label>
                            <input asp-for="Citrate" class="form-control" />
                            <span asp-validation-for="Citrate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CalciumCompensationMol" class="control-label"></label>
                            <input asp-for="CalciumCompensationMol" class="form-control" />
                            <span asp-validation-for="CalciumCompensationMol" class="text-danger"></span>
                        </div>
                    }
                    break;
                case "Heparyna drobnocząsteczkowa":
                    <div class="form-group">
                        <label asp-for="FraxiparinDose" class="control-label"></label>
                        <input asp-for="FraxiparinDose" class="form-control" />
                        <span asp-validation-for="FraxiparinDose" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FraxiparinDosingTiming" class="control-label"></label>
                        <input asp-for="FraxiparinDosingTiming" class="form-control" />
                        <span asp-validation-for="FraxiparinDosingTiming" class="text-danger"></span>
                    </div>
                    @if (!Model.initial)
                    {
                        <div class="form-group">
                            <label asp-for="AntiXa" class="control-label"></label>
                            <input asp-for="AntiXa" class="form-control" />
                            <span asp-validation-for="AntiXa" class="text-danger"></span>
                        </div>
                    }
                    break;
                case "Heparyna niefrakcjonowana":
                    @if (Model.initial)
                    {
                        <div class="form-group">
                            <label asp-for="HeparinBolusDose" class="control-label"></label>
                            <input asp-for="HeparinBolusDose" class="form-control" />
                            <span asp-validation-for="HeparinBolusDose" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="ACT" class="control-label"></label>
                            <input asp-for="ACT" class="form-control" />
                            <span asp-validation-for="ACT" class="text-danger"></span>
                        </div>
                    }
                    <div class="form-group">
                        <label asp-for="HeparinDose" class="control-label"></label>
                        <input asp-for="HeparinDose" class="form-control" />
                        <span asp-validation-for="HeparinDose" class="text-danger"></span>
                    </div>
                    break;
            }
            <div class="form-group">
                <label asp-for="QBDose" class="control-label"></label>
                <input asp-for="QBDose" class="form-control" />
                <span asp-validation-for="QBDose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QDDose" class="control-label"></label>
                <input asp-for="QDDose" class="form-control" />
                <span asp-validation-for="QDDose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Predilution" class="control-label"></label>
                <input asp-for="Predilution" class="form-control" />
                <span asp-validation-for="Predilution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postdilution" class="control-label"></label>
                <input asp-for="Postdilution" class="form-control" />
                <span asp-validation-for="Postdilution" class="text-danger"></span>
            </div>
            @if (Model.initial)
            {
                <div class="form-group">
                    <label asp-for="UFDose" class="control-label"></label>
                    <input asp-for="UFDose" class="form-control" />
                    <span asp-validation-for="UFDose" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="TMP" class="control-label"></label>
                    <input asp-for="TMP" class="form-control" />
                    <span asp-validation-for="TMP" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details"
       asp-route-id="@Model.Id">Wróć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
